html {
  background-color: #e2e2e2;
  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  transition: all 200ms ease-in;
  position: absolute;
}

.polaroid:nth-child(1) {
  transform: rotate(-15deg);
  position: relative;
  top: 100px;
  left: 200px;
}

.polaroid:nth-child(3) {
  transform: rotate(30deg);
  position: relative;
  bottom: 230px;
  left: 390px;
}

.polaroid:nth-child(2) {
  transform: rotate(5deg);
  position: relative;
  top: -10px;
  left: 300px;
  z-index: inherit;
}

.polaroid > img {
  display: block;
  position: relative;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  position: absolute;
  transform: translate(70px, -20px);
  text-shadow: 1px 1px 3px #000;
}

.polaroid:hover {
  transform: scale(1.2);
  z-index: 1;
  box-shadow: 4px 8px 6px rgba(0, 0, 0, .9);
}
